#icontainer { display: flex; flex-direction: column; min-height: 100vh; }

#container { flex: 1; }

.spacer { flex: 1; }

.topline { display: flex; flex-direction: row; }
.topline a { text-decoration: none; color: white; height: 100%; width: auto; }

img { height: 2.5em; width: auto; padding-left: 10px; }

#header { background-color: #1565C0; color: white; }
#header h1 { margin: 0; padding: 10px; }
#header nav { display: flex; flex-direction: row; }
#header nav a { padding: 8px 16px; flex-grow: 1; color: white; text-decoration: none; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; }
#header nav .active { background-color: white; color: #1565C0; }
#header nav a:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.content { padding: 20px; }

footer { background-color: #1565C0; padding: 1px 8px; color: white; font-size: 12px; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
footer p { margin: 8px; }
footer a { color: white; }

h2 { text-align: center; margin: 10px; padding: 5px; }

#icontainer { display: flex; flex-direction: column; min-height: 100vh; }

#container { flex: 1; }

.spacer { flex: 1; }

.topline { display: flex; flex-direction: row; }
.topline a { text-decoration: none; color: white; height: 100%; width: auto; }

img { height: 2.5em; width: auto; padding-left: 10px; }

#header { background-color: #1565C0; color: white; }
#header h1 { margin: 0; padding: 10px; }
#header nav { display: flex; flex-direction: row; }
#header nav a { padding: 8px 16px; flex-grow: 1; color: white; text-decoration: none; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; }
#header nav .active { background-color: white; color: #1565C0; }
#header nav a:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.content { padding: 20px; }

footer { background-color: #1565C0; padding: 1px 8px; color: white; font-size: 12px; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
footer p { margin: 8px; }
footer a { color: white; }

h2 { text-align: center; margin: 10px; padding: 5px; }

section { display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin: 10px; padding: 5px; }
section p { max-width: 60%; margin: 10px; }

.drawer { display: flex; flex-direction: row; }

button { font-size: 16px; margin: 10px; padding: 15px; border-radius: 2px; text-decoration: none; background-color: #1565C0; color: white; border: none; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; }

button:hover { box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.controls { flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: space-around; }

canvas { flex: 3; }

.count-slider { margin: 10px 10px 10px 20px; }

.sliders { display: flex; flex-direction: column; margin: 10px 10px 10px 20px; }

input[type='range'] { -webkit-appearance: none !important; background: #CFD8DC; height: 3px; outline: none; margin: 3px; }

input.red-slider[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: none; height: 16px; width: 16px; border-radius: 50%; background: #B71C1C; }

input.count-slider[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: none; height: 16px; width: 16px; border-radius: 50%; background: #B0BEC5; }

input.green-slider[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: none; height: 16px; width: 16px; border-radius: 50%; background: #1B5E20; }

input.blue-slider[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: none; height: 16px; width: 16px; border-radius: 50%; background: #0D47A1; }

input.alpha-slider[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: none; height: 16px; width: 16px; border-radius: 50%; background: #B0BEC5; }

.controls { align-items: flex-start; }

section { display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin: 10px; padding: 5px; }
section p { max-width: 60%; margin: 10px; }

canvas { border: 1px solid black; }
