# See https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub
.buildlog
.project
packages
.pub/deps/debug

# Directory created by dartdoc
doc/api/

# No webstorm files.
.idea/

# No zipped archives. 
*.zip
