.pic-button { font-size: 50px; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; background-color: white; color: black; outline: none; border: none; }

.pic-button:hover { background-color: black; color: white; border: black; }

.img-wrapper { max-width: 80%; max-height: 60%; margin-top: 0; margin-bottom: 0; }
.img-wrapper img { width: 65vw; display: block; height: auto; }

.img-gallery { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: stretch; }

#text { padding: 15px; z-index: 100; position: absolute; color: white; background-color: rgba(0, 0, 0, 0.3); font-size: 20px; left: 300px; top: 200px; }

span.hovertext { position: relative; max-width: 90%; text-decoration: none !important; text-align: center; }

span.hovertext:after { content: attr(title); position: absolute; left: 50px; min-width: 35vw; max-width: 50vw; bottom: 20px; padding: 0.5em 20px; background: rgba(0, 0, 0, 0.8); text-decoration: none !important; color: #fff; opacity: 0; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; -ms-transition: 0.5s; }

span.hovertext:hover:after, a.hovertext:focus:after { opacity: 1.0; }

span.notitle:after { background-color: transparent; color: transparent; }
